.parking-container {
  display: inline-block;          
  border: 3px solid #4b4c4e;
  border-radius: 0.75rem;
  background-color: #f8f9fa;
  box-shadow: 0 4px 10px rgba( 0 , 0 , 0 , 0.15 );
  padding: 12px;                   
}

.spot {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba( 0 , 0 , 0 , 0.15 );
  transition: transform 0.2s ease;
  font-size: 1rem;
}

.spot.available {
  background-color: #d4edda;
  color: #155724;
  border: 2px solid #28a745;
}

.spot.occupied {
  background-color: #f8d7da;
  color: #721c24;
  border: 2px solid #dc3545;
}

.spot:hover {
  transform: scale( 1.1 );
  cursor: pointer;
}

.hr.custom-dark {
  border: none;
  border-top: 3px solid #040404;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body {
  background-color: #fff;
}

.stylish-heading {
  font-size: 1.75rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient( 135deg , #00c9ff , #92fe9d );
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 8px 16px rgba( 0 , 0 , 0 , 0.2 );
  letter-spacing: 1px;
  margin: 2rem auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
  transition: transform 0.3s ease;
}

.stylish-heading:hover {
  transform: scale( 1.03 );
}


.add-button {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  letter-spacing: 1px;
  margin-top: 2rem;
  width: fit-content;
  height: fit-content;
  text-align: center;
}


.search-container {
  position: absolute;
  left: 50%;
  top: 25%; /* Slightly above center ( 50% ) */
  transform: translate( -50% , -50% );
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.search-result {
  position: absolute;
  left: 50%;
  top: 60%; /* Slightly above center ( 50% ) */
  transform: translate( -50% , -50% );
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}


.accordion-button:focus {
  box-shadow: none;
  outline: none;
}
